@page
@model ShoeShop.Areas.Admin.Pages.contact.DetailsModel

@{
    ViewData["Title"] = "Contact Details";
    Layout = "~/Areas/Admin/Pages/_AdminLayout.cshtml";
}

<!-- Content Header -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
               
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-page="Index">Home</a></li>
                    <li class="breadcrumb-item active">Contact Details</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <h4>Contact Information</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Contact.Name)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Contact.Name)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Contact.Phone)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Contact.Phone)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Contact.Address)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Contact.Address)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Contact.Content)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Contact.Content)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Contact.CreateDate)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Contact.CreateDate)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Contact.UpdateDate)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Contact.UpdateDate)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Contact.AdminCreate)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Contact.AdminCreate)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Contact.AdminUpdate)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Contact.AdminUpdate)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>

<!-- Action Buttons -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <a asp-page="./Edit" asp-route-id="@Model.Contact?.Id" class="btn btn-warning">Edit</a>
            <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
