@page
@model ShoeShop.Areas.Admin.Pages.IndexModel
@{
	Layout = "~/Areas/Admin/Pages/_AdminLayout.cshtml";
}
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h5>
                            @Model.TotalOrdersCount
                        </h5>

                        <p>Total Orders </p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>

                    @* <a asp-controller="admins" asp-action="GetAllOrder" class="small-box-footer">More info <i class="fas fa-arrow-circle-right" ></i></a>@**@
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h5>
                           @string.Format("{0:#,##0}" ,@Model.TotalPriceByStatus)VND
                         </h5>

                            <p>Total Earn</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                  @*   <a asp-controller="admins" asp-action="GetAllOrder" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i> *@</a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h5>@Model.TotalUsersCount</h5>

                        <p>User Registrations</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                 @*    <a asp-controller="admins" asp-action="GetAllCustomers" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> *@
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h5>@Model.PendingOrdersCount</h5>

                        <p>Order Pending</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                   @*  <a asp-controller="admins" asp-action="GetAllOrder" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> *@
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <h1 class="text-center">Top sản phẩm bán chạy nhất  </h1>
        <section class="content">
            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->
                <div class="row">
                    <!-- Các ô thống kê -->
                  
                </div>
                <!-- /.row -->
                <!-- Main row -->
                <table style="width: 100%; border-collapse: collapse; margin-top: 20px;">
                    <thead>
                        <tr style="background-color: #f2f2f2; text-align: left;">
                          
                            <th style="border: 1px solid #ddd; padding: 8px;">Product Name</th>
                            <th style="border: 1px solid #ddd; padding: 8px;">Product Image</th>
                            <th style="border: 1px solid #ddd; padding: 8px;">Total Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model.TotalQuantityPerProduct)
                        {
                            <tr>
                               
                                <td style="border: 1px solid #ddd; padding: 8px;">@product["ProductName"]</td>
                                <td style="border: 1px solid #ddd; padding: 8px;">
                                    <img src="@product["ProductImage"]" alt="@product["ProductName"]" width="50" height="50" />
                                </td>
                                <td style="border: 1px solid #ddd; padding: 8px;">@product["TotalQuantity"]</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </section>

