@page
@model ShoeShop.Pages.product.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Product";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div id="myCustomCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="text-center">
                <p>New Styles On Sale: Up To 40% Off</p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="text-center">
                <p>Free Standard Delivery & 30-Day Free Returns</p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="text-center">
                <p>Move, Shop, Customise & Celebrate With Us</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCustomCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCustomCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>




<h2>Sản phẩm theo danh mục</h2>
<div class="main-news">
@foreach (var category in Model.ProductsByCategory)
{
    <div style="display: flex; justify-content: space-between; align-items: flex-end;">
        <h4>@Model.CategoryNames[category.Key]</h4>
        <h5 style="margin-bottom: 34px; margin-right:26px;">
            <a >XEM TẤT CẢ</a>
        </h5>
    </div>
    
    <div class="row">
        @foreach (var product in category.Value)
        {
            <div class="col-md-3">
                <div class="card">
                        <a  asp-page="/Product/Details" asp-route-id="@product.Id" style="text-decoration: none; color: inherit;">
                            <img src="@product.Image" class="card-img-top product-image" alt="@product.Title" />
                        <div class="card-body">
                            <p class="card-title " >@product.Title</p>
                            <p class="card-text">Giá: @product.PriceNew VND</p>
                            <a  style="text-decoration:none;">
                                <i class="fa-solid fa-cart-shopping"></i>&nbsp;Mua hàng
                            </a>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
}
</div>