@page
@model ShoeShop.Areas.Admin.Pages.product.ProductManagerModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Areas/Admin/Pages/_AdminLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Manager Products</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">

                        <p>
                            <a asp-area="Admin" asp-page="/product/CreateProduct">Create New</a>
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <form method="get" asp-page="/Product/ProductManager">
                                    <div class="input-group">
                                        <input type="text" name="searchString" class="form-control" placeholder="Tìm kiếm sản phẩm..." />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="submit">Tìm</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <form method="get" asp-page="/Product/ProductManager">
                                    <div class="input-group mb-3">
                                        <select name="CategoryFilter" class="custom-select">
                                            <option value="">Chọn danh mục</option>
                                            @foreach (var category in Model.Categories)
                                            {
                                                <option value="@category.Id">@category.Title</option>
                                            }
                                        </select>
                                        <div class="input-group-append">
                                            <button class="btn btn-secondary" type="submit">Lọc</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                   
                                   
                                    <th>
                                        Title
                                    </th>
                                    <th style="width:10%;">
                                        Image
                                    </th>
                                    <th style="width:28%;">
                                        Content
                                    </th>
                                    <th style="width:28%;">
                                        Description
                                    </th>
                                    <th>
                                        PriceOld
                                    </th>
                                    <th>
                                        PriceNew
                                    </th>
                                    <th>Quantity</th>
                                   
                                    <th style="width:30%;">Action</th>
                                </tr>
                            </thead>
                            @if (Model.Products != null && Model.Products.Count > 0)
                            {
                                int index = 1;
                                foreach (var product in Model.Products)
                                {
                                    <tr>
                                      
                                        <td>@product.Title</td>
                                        <td>
                                            <img class="icon-image" src="@product.Image" />
                                        </td>
                                        <td>@product.Content</td>
                                        <td>@product.Description</td>


                                        
                                        <td> @string.Format("{0:#,##0}",@product.PriceOld)VND</td>
                                        <td>@string.Format("{0:#,##0}",@product.PriceNew)VND</td>
                                        <td>@product.Quantity</td>

                                        <td>
                                            <a asp-area="Admin" asp-page="/Product/UpdateProduct" asp-route-id="@product.Id" class="btn btn-warning"><i class="fa-regular fa-pen-to-square"></i></a>
                                            <a asp-area="Admin" asp-page="/Product/DeleteProduct" asp-route-id="@product.Id" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                                            <a asp-area="Admin" asp-page="/Product/DetailProduct" asp-route-id="@product.Id" class="btn btn-primary"><i class="fa-regular fa-eye"></i></a>

                                        </td>
                                    </tr>
                                    index++;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5">Không có sản phẩm nào.</td>
                                </tr>
                            }

                        </table><br />
                       
                    </div>

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
<style>
    .icon-image {
        width: 100%;
    }

</style>